<html>
  <head>
    <title>OAuth Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      div { margin: 10px 0px 10px 0px; }
    </style>
  </head>
  <body>

    <h1>Your Insurance Login</h1>

    <div>
      <a href="<%= redirectURISuccess %>">Complete Account Link</a>
    </div>
      Username:<br>
      <input type="text" name="username" value="Mickey">
      <br>
      Password:<br>
      <input type="password" name="password" value="Mouse">
      <br>
      <button class="float-left submit-button" onclick="window.href = '<%= redirectURISuccess %>'>login</button>


  </body>
</html>